:root {
  --cor-texto: #333333;
  --background: #e2e2e2;

  --font-titulo: 2.5rem;
  --font-texto: 1.2rem;
}

.ConteinerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--background);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}

.IconLogo {
  color: var(--cor-texto);
  font-size: var(--font-titulo);
  font-family: var(--font-ubuntu);
  transition: var(--cor-texto) 0.3s ease-in-out;
}

.IconLogo:hover {
  color: rgb(75, 74, 74);
  transform: rotate3d(5, 10, 15, 4deg);
}

.Menu {
  display: flex;
  gap: 2rem;

  a {
    color: var(--cor-texto);
    font-size: var(--font-texto);
    padding: 0.3rem;
    transition: var(--cor-texto) 0.3s ease-in-out;
  }

  a:hover {
    color: rgb(75, 74, 74);
    transform: rotate3d(5, 10, 15, 4deg);
  }
}

/* Conteiner Banner Component Styles */
.ConteinerBanner {
  background-image: url(./assets/img/onur-binay-VAwj3asivF8-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ConteinerInfo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
  color: rgb(255, 255, 255);
  font-size: var(--font-texto);

  h1 {
    font-size: 3.8rem;
    text-align: center;
    line-height: 4rem;
  }

  p {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}

.ButtonMenu {
  background-color: rgb(255, 255, 255);
  color: var(--cor-texto);
  border: none;
  margin-top: 1.4rem;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.ButtonMenu:hover {
  background-color: var(--cor-texto) opacity(0.9);
  color: rgb(255, 255, 255);
  border: solid 1px;
  border-color: var(--background);
}

/* Main Component Styles */
.main-container {
  height: 100vh;
  background-color: var(--background);
  color: var(--cor-texto);

  h2 {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: var(--font-titulo);
    color: var(--cor-texto);
    text-transform: uppercase;
  }
}

.img-content {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.img-content-individual {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  height: 320px;
  width: 240px;
  p {
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.3rem;
  }
}
.img-main {
  background-color: var(--background);
  height: 200px;
  width: 240px;
}

.img-main:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
